.project-card {
    width: 100%;
    border: 1px solid black;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    text-decoration: none;
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}