* {
    box-sizing: border-box;
}

h1 {
    color: #206575;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}

p {
    font-family: 'Segoe UI', sans-serif;

}

#users-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 10px;
    row-gap: 10px;
}

#project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 10px;
    row-gap: 10px;
}