* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    color: #206575;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: 900;
    margin: auto;
    text-align: center;
    padding: 14px 14px;
}

h3 {
    color: #206575;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 700;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    padding: 3px 14px;
}

ol.needs-list {
    display: inline-block;
    list-style-type: circle;
    font-size: medium;
    padding: 7px 36px;
}

li.needs {
    padding: 5px;
}

button {
    background-color: #206575;
    display: inline-block;
    border: none;
    color: #ffffff;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #ffffff;
    color: #206575;
    border: 2px solid #206575;
}

#users-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 10px;
    row-gap: 10px;
}

#project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 10px;
    row-gap: 10px;
}
